.trigger {
    position: relative;
}

.trigger .disclosureIndicator {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 25px;
}

.trigger:hover {
    cursor: pointer;
    background-color: #ddd;
}

.navbar{
    margin-bottom: 0;
}

.sidebar{
    height: 100%;
    text-align: center;
    padding-left: 0;
    margin-left: 0;
    margin-top: -20px;
    border-right: #DDDDDD 1px;
}

.projectContainer{
    margin-right: 30px;
}